.DS_Store
modified_gan_nii.ipynb
loss_plots.png
results.png
training_losses.png
discriminator_weights.h5
encoder_weights.h5
gan.ipynb
generator_weights.h5
loss_plots5k_11_19_24.png
loss_plots5kbat16.png
results1260bat32.png
results1350.png
results1620.png
results3400.png
results4990.png
results5k_11_19_24.png
results5kbat16.png
results_epoch.png
results_epoch_10.png
results_epoch_1_step_0.png
results_epoch_2_step_0.png
results_epoch_3_step_0.png
results_epoch_4_step_0.png
test_results.xlsx
training_losses5k_11_19_24.png
training_losses5kbat16.png
training_losses_epoch_1.png
training_losses_epoch_2.png
gan.ipynb
gan.ipynb
~$test_results.xlsx
/gan run 2000 optimize/
/gan run 2000 optimize 2/
/gan run 2500/